@model MVC_BasicTutorial.Models.Member

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div> 
        <p>Thank You for Becomming a Membership</p>
        <p><h1>@Model.MemberName</h1></p>
    </div>
</body>
</html>
