@model MVC_BasicTutorial.Areas.TestAjaxJquery.Models.Subscription

@{
    ViewBag.Title = "GetAllCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAllCustomers</h2>

@Html.Label("Hello Sushil")


